/* Deprecated vars */
/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */
@font-face {
    font-family: 'Modesto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}

@font-face {
    font-family: 'Modesto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}

.modesto {
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 20px;
    font-weight: 700;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

    .flexrow > * {
        flex: 1;
    }

    .flexrow .flex1 {
        flex: 1;
    }

    .flexrow .flex2 {
        flex: 2;
    }

    .flexrow .flex3 {
        flex: 3;
    }

    .flexrow .flex4 {
        flex: 4;
    }

.flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

    .flexcol > * {
        flex: 1;
    }

    .flexcol .flex1 {
        flex: 1;
    }

    .flexcol .flex2 {
        flex: 2;
    }

    .flexcol .flex3 {
        flex: 3;
    }

    .flexcol .flex4 {
        flex: 4;
    }
/* ----------------------------------------- */
/*  All burdened Apps                           */
/* ----------------------------------------- */
.burdened {
    /* ----------------------------------------- */
    /*  Element Styles                           */
    /* ----------------------------------------- */
    /* Form Groups */
    /* Tags */
}

    .burdened .window-content {
        background: url("../ui/parchment.jpg") repeat;
        font-size: 13px;
        color: #191813;
    }

    .burdened input[type="text"],
    .burdened select {
        height: calc(100% - 2px);
        border: 1px solid #7a7971;
        background: rgba(0, 0, 0, 0.05);
        color: #191813;
    }

        .burdened input[type="text"]:hover,
        .burdened input[type="text"]:focus {
            border: 1px solid #111;
            box-shadow: 0 0 8px red;
        }

        .burdened input:disabled,
        .burdened select:disabled,
        .burdened textarea:disabled {
            color: #4b4a44;
        }

            .burdened input:disabled:hover,
            .burdened select:disabled:hover,
            .burdened textarea:disabled:hover,
            .burdened input:disabled:focus,
            .burdened select:disabled:focus,
            .burdened textarea:disabled:focus {
                box-shadow: none !important;
                border: 1px solid transparent !important;
                outline: none !important;
            }

    .burdened button {
        background: rgba(0, 0, 0, 0.1);
        border: 2px groove #eeede0;
    }

    .burdened label.checkbox {
        flex: auto;
        padding: 0;
        margin: 0;
        height: 22px;
        line-height: 22px;
        font-size: 11px;
    }

        .burdened label.checkbox > input[type="checkbox"] {
            width: 16px;
            height: 16px;
            margin: 0 2px 0 0;
            position: relative;
            top: 4px;
        }

        .burdened label.checkbox.right > input[type="checkbox"] {
            margin: 0 0 0 2px;
        }

    .burdened .form-group label {
        flex: 2;
        color: #4b4a44;
        font-weight: bold;
    }

    .burdened .form-group .form-fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

        .burdened .form-group .form-fields > * {
            flex: 1;
        }

        .burdened .form-group .form-fields .flex1 {
            flex: 1;
        }

        .burdened .form-group .form-fields .flex2 {
            flex: 2;
        }

        .burdened .form-group .form-fields .flex3 {
            flex: 3;
        }

        .burdened .form-group .form-fields .flex4 {
            flex: 4;
        }

        .burdened .form-group .form-fields > * {
            margin: 0 3px 0 0;
        }

            .burdened .form-group .form-fields > *:last-child {
                margin-right: 0;
            }

    .burdened .form-group.stacked label {
        flex: 0 0 100%;
        margin: 0;
    }

        .burdened .form-group.stacked label.checkbox {
            flex: auto;
            text-align: left;
        }

    .burdened .form-header {
        margin: 0 0 0.25em 0;
        padding: 2px 0;
        border-top: 2px groove #eeede0;
        border-bottom: 2px groove #eeede0;
        font-family: "Modesto Condensed", "Palatino Linotype", serif;
        font-size: 20px;
        font-weight: 700;
    }

    .burdened .tag {
        display: inline-block;
        margin: 0 2px 0 0;
        padding: 0 3px;
        font-size: 10px;
        line-height: 16px;
        border: 1px solid #999;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.05);
    }
    /* ----------------------------------------- */
    /*  Entity Sheets Specifically               */
    /* ----------------------------------------- */
    .burdened.sheet {
        /* ----------------------------------------- */
        /*  Element Styles                           */
        /* ----------------------------------------- */
        /* ----------------------------------------- */
        /*  TinyMCE                                  */
        /* ----------------------------------------- */
        /* ----------------------------------------- */
        /*  Sheet Header                             */
        /* ----------------------------------------- */
        /* ----------------------------------------- */
        /*  Sheet Navigation                         */
        /* ----------------------------------------- */
        /* ----------------------------------------- */
        /*  Sheet Body                               */
        /* ----------------------------------------- */
        /* ----------------------------------------- */
        /*  List Filters                             */
        /* ----------------------------------------- */
        /* ----------------------------------------- */
        /*  Trait Lists                              */
        /* ----------------------------------------- */
    }

        .burdened.sheet .window-content {
            overflow-y: hidden;
            padding: 5px;
            background: url("../ui/parchment.jpg") repeat;
            font-size: 13px;
            color: #191813;
        }

            .burdened.sheet .window-content form {
                height: 100%;
                overflow: hidden;
            }

            .burdened.sheet .window-content .tab {
                height: 100%;
                overflow-y: auto;
                align-content: flex-start;
            }

        .burdened.sheet input[type="text"] {
            background: none;
            border: 1px solid transparent;
        }

            .burdened.sheet input[type="text"]:hover,
            .burdened.sheet input[type="text"]:focus {
                border: 1px solid #111;
            }

        .burdened.sheet select {
            flex: 1;
            font-size: 12px;
            height: 22px;
            background: transparent;
        }

        .burdened.sheet .editable .rollable:hover {
            color: #000;
            text-shadow: 0 0 10px red;
            cursor: pointer;
        }

        .burdened.sheet span.sep {
            flex: none;
            margin: 0 1px;
            display: inline;
            position: relative;
            color: #7a7971;
            font-weight: normal;
        }

        .burdened.sheet .editor {
            height: 100%;
        }

            .burdened.sheet .editor .tox-toolbar-overlord,
            .burdened.sheet .editor .tox-toolbar__primary {
                background: none;
            }

        .burdened.sheet .sheet-header {
            flex: 0 0 100px;
            border-bottom: 2px groove #eeede0;
            /* Character Name */
            /* Profile Image */
            /* Header Summary Details */
        }

            .burdened.sheet .sheet-header .header-details {
                font-family: "Modesto Condensed", "Palatino Linotype", serif;
                font-size: 20px;
                font-weight: 700;
            }

            .burdened.sheet .sheet-header h1 {
                flex: 1;
                border-bottom: none;
                height: 60px;
                margin: 0;
                padding: 5px;
            }

                .burdened.sheet .sheet-header h1 input {
                    display: block;
                    height: 50px;
                    font-size: 32px;
                    margin: 0;
                }

            .burdened.sheet .sheet-header img.profile {
                flex: 0 0 100px;
                max-width: 100px;
                height: 100px;
                object-fit: contain;
                border: none;
                border-right: 2px groove #eeede0;
            }

            .burdened.sheet .sheet-header .summary {
                flex: 0 0 100%;
                height: 40px;
                margin: 0;
                padding: 0;
                list-style: none;
                border-top: 2px groove #eeede0;
                border-bottom: none;
            }

                .burdened.sheet .sheet-header .summary li {
                    height: calc(100% - 6px);
                    float: left;
                    margin: 2px 0;
                    padding: 0;
                    border-right: 2px groove #eeede0;
                    line-height: 34px;
                    color: #4b4a44;
                }

                    .burdened.sheet .sheet-header .summary li:last-child {
                        border-right: none;
                    }

        .burdened.sheet .sheet-navigation {
            flex: 0 0 30px;
            margin-bottom: 5px;
            font-family: "Modesto Condensed", "Palatino Linotype", serif;
            font-size: 20px;
            font-weight: 700;
        }

            .burdened.sheet .sheet-navigation .item {
                height: 30px;
                line-height: 32px;
                margin: 0 24px;
                border-bottom: 3px solid #b5b3a4;
            }

                .burdened.sheet .sheet-navigation .item.active {
                    border-bottom: 3px solid #44191A;
                }

        .burdened.sheet .sheet-body {
            flex: 1;
            overflow: hidden;
        }

        .burdened.sheet .filter-list {
            list-style: none;
            margin: 0;
            padding: 0;
            line-height: 16px;
            max-width: 70%;
        }

            .burdened.sheet .filter-list .filter-icon {
                flex: none;
                font-size: 14px;
                color: #7a7971;
            }

            .burdened.sheet .filter-list .filter-item {
                text-align: center;
                font-size: 12px;
                margin: 0 6px 0 0;
                border-bottom: 3px solid #b5b3a4;
                white-space: nowrap;
            }

                .burdened.sheet .filter-list .filter-item:last-child {
                    margin: 0;
                }

                .burdened.sheet .filter-list .filter-item:hover {
                    text-shadow: 0 0 4px red;
                    border-bottom: 3px solid #7a7971;
                }

                .burdened.sheet .filter-list .filter-item.active {
                    border-bottom: 3px solid #44191A;
                }

        .burdened.sheet .traits {
            margin: 5px 0 0;
        }

            .burdened.sheet .traits .trait-selector {
                flex: 0 0 16px;
                padding: 2px 0;
                color: #999;
                font-size: 10px;
            }

            .burdened.sheet .traits .traits-list {
                flex: 0 0 100%;
                line-height: 20px;
                list-style: none;
                margin: 0;
                padding: 0;
            }
/* ----------------------------------------- */
/* Trait Selector
/* ----------------------------------------- */
#trait-selector .trait-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#trait-selector input[type="text"] {
    height: 24px;
    margin: 2px;
}

.burdened.sheet.actor {
    /* ----------------------------------------- */
    /*  Sheet Header                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  General Styles                           */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Attributes                               */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Ability Scores                           */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Skills                                   */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Statuses                                 */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Traits                                   */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Inventory Lists                          */
    /* ----------------------------------------- */
    /* Inventory List Filters */
    /* Encumbrance Bar */
    /* ----------------------------------------- */
    /*  Spellbook                                */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  TinyMCE                                  */
    /* ----------------------------------------- */
}

    .burdened.sheet.actor .sheet-header img.profile {
        flex: 0 0 160px;
        max-width: 160px;
        height: 160px;
    }

    .burdened.sheet.actor .sheet-header h1.charname {
        flex: 1;
        height: 60px;
        padding: 0;
    }

        .burdened.sheet.actor .sheet-header h1.charname input {
            height: 40px;
            margin: 10px 0;
        }

    .burdened.sheet.actor .sheet-header .header-exp {
        flex: 0 0 150px;
        margin-right: 3px;
        height: 60px;
        justify-content: flex-end;
        text-align: right;
    }

    .burdened.sheet.actor .sheet-header .summary {
        height: 30px;
        border-bottom: 2px groove #eeede0;
        font-size: 18px;
    }

        .burdened.sheet.actor .sheet-header .summary input,
        .burdened.sheet.actor .sheet-header .summary span {
            display: block;
            height: 24px;
            line-height: 24px;
        }

    .burdened.sheet.actor .sheet-header .attributes {
        flex: 0 0 100%;
        margin: 0;
    }

        .burdened.sheet.actor .sheet-header .attributes .attribute {
            height: 70px;
            margin: 0;
            border: none;
            border-right: 2px groove #eeede0;
            border-radius: 0;
        }

            .burdened.sheet.actor .sheet-header .attributes .attribute:last-child {
                border-right: none;
            }

            .burdened.sheet.actor .sheet-header .attributes .attribute .attribute-value {
                height: 30px;
                line-height: 30px;
            }

    .burdened.sheet.actor .attributes input.temphp {
        width: 48%;
    }

    .burdened.sheet.actor h4.box-title {
        height: 18px;
        line-height: 16px;
        margin: 4px 8px 2px;
        font-family: "Modesto Condensed", "Palatino Linotype", serif;
        font-size: 20px;
        font-weight: 700;
        font-size: 18px;
        color: #4b4a44;
        border-bottom: 1px solid #c9c7b8;
    }

    .burdened.sheet.actor .tab.attributes {
        overflow: hidden;
    }

    .burdened.sheet.actor ul.attributes {
        flex: 0 0 60px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .burdened.sheet.actor ul.attributes li.attribute {
            height: 60px;
            margin: 0 5px 0 0;
            border: 2px groove #eeede0;
            border-radius: 4px;
            text-align: center;
        }

            .burdened.sheet.actor ul.attributes li.attribute:last-child {
                margin: 0;
            }

            .burdened.sheet.actor ul.attributes li.attribute .attribute-value {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 28px;
                line-height: 28px;
                font-family: "Modesto Condensed", "Palatino Linotype", serif;
                font-size: 20px;
                font-weight: 700;
            }

                .burdened.sheet.actor ul.attributes li.attribute .attribute-value > * {
                    font-weight: 400;
                    font-size: 24px;
                }

                .burdened.sheet.actor ul.attributes li.attribute .attribute-value.multiple input {
                    flex: 0 0 33%;
                }

            .burdened.sheet.actor ul.attributes li.attribute .attribute-footer {
                flex: 0 0 18px;
                margin-top: -1px;
                line-height: 18px;
                font-family: "Signika", sans-serif;
                font-size: 12px;
                font-weight: 400;
            }

    .burdened.sheet.actor .ability-scores {
        flex: 0 0 100px;
        height: 440px;
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: "Modesto Condensed", "Palatino Linotype", serif;
        font-size: 20px;
        font-weight: 700;
        border: 2px groove #eeede0;
        border-radius: 3px;
    }

        .burdened.sheet.actor .ability-scores .ability {
            height: 70px;
            text-align: center;
            border-bottom: 2px groove #eeede0;
        }

            .burdened.sheet.actor .ability-scores .ability:last-child {
                border-bottom: none;
                margin-bottom: -3px;
            }

            .burdened.sheet.actor .ability-scores .ability .ability-score {
                height: 30px;
                width: 36px;
                margin: 0 auto;
                line-height: 32px;
                font-size: 24px;
            }

            .burdened.sheet.actor .ability-scores .ability .ability-modifiers {
                height: 24px;
                margin: -8px 0 0;
            }

                .burdened.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod,
                .burdened.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
                    flex: 0 0 24px;
                    height: 22px;
                    line-height: 22px;
                    font-size: 16px;
                    border-top: 2px groove #eeede0;
                }

                .burdened.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod {
                    border-right: 2px groove #eeede0;
                }

                .burdened.sheet.actor .ability-scores .ability .ability-modifiers .ability-proficiency {
                    line-height: 30px;
                }

                .burdened.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
                    border-left: 2px groove #eeede0;
                }

    .burdened.sheet.actor .proficiency-toggle {
        color: #b5b3a4;
        font-size: 12px;
    }

    .burdened.sheet.actor .proficient .proficiency-toggle {
        color: #4b4a44;
    }

    .burdened.sheet.actor .locked .proficiency-toggle {
        color: #b5b3a4;
        text-shadow: none;
        cursor: default;
    }

    .burdened.sheet.actor ul.skills-list {
        flex: 0 0 180px;
        height: 440px;
        list-style: none;
        margin: 0 5px 0;
        padding: 3px 0 2px;
        border: 2px groove #eeede0;
        border-radius: 3px;
    }

        .burdened.sheet.actor ul.skills-list li.skill {
            height: 24px;
            padding: 3px 2px;
        }

            .burdened.sheet.actor ul.skills-list li.skill:nth-child(even) {
                background: rgba(0, 0, 0, 0.05);
            }

            .burdened.sheet.actor ul.skills-list li.skill h4 {
                flex: 1px;
                margin: 0;
                font-size: 11px;
                line-height: 18px;
            }

            .burdened.sheet.actor ul.skills-list li.skill .skill-proficiency {
                flex: 0 0 16px;
                line-height: 18px;
            }

            .burdened.sheet.actor ul.skills-list li.skill .skill-ability {
                flex: 0 0 26px;
            }

            .burdened.sheet.actor ul.skills-list li.skill .skill-mod {
                flex: 0 0 20px;
            }

            .burdened.sheet.actor ul.skills-list li.skill .skill-passive {
                flex: 0 0 26px;
                text-align: center;
                color: #7a7971;
            }

    .burdened.sheet.actor .counters {
        flex: none;
        padding: 5px 0;
        margin: 0;
        border-bottom: 2px groove #eeede0;
    }

        .burdened.sheet.actor .counters .counter {
            height: 20px;
            line-height: 20px;
        }

            .burdened.sheet.actor .counters .counter h4 {
                flex: auto;
                margin: 0;
                font-size: 13px;
                font-weight: bold;
                color: #4b4a44;
            }

            .burdened.sheet.actor .counters .counter .counter-value {
                flex: none;
                text-align: right;
            }

                .burdened.sheet.actor .counters .counter .counter-value > * {
                    display: inline;
                }

            .burdened.sheet.actor .counters .counter input[type="text"] {
                height: 20px;
                max-width: 20px;
                margin: 0;
                padding: 0;
                text-align: center;
            }

            .burdened.sheet.actor .counters .counter input[type="checkbox"] {
                position: relative;
                width: 16px;
                height: 16px;
                margin: 0;
                top: 4px;
            }

            .burdened.sheet.actor .counters .counter span.sep {
                font-size: 12px;
            }

    .burdened.sheet.actor .center-pane {
        height: 100%;
        padding: 0 5px 0 3px;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .burdened.sheet.actor .traits .form-group,
    .burdened.sheet.actor .traits .form-group-stacked {
        margin: 0 0 3px 0;
        justify-content: space-between;
    }

    .burdened.sheet.actor .traits .configure-flags {
        flex: 1;
    }

    .burdened.sheet.actor .traits label {
        flex: none;
        line-height: 20px;
        font-weight: bold;
        margin: 0 10px 0 0;
    }

    .burdened.sheet.actor .traits select {
        max-width: 200px;
    }

    .burdened.sheet.actor .traits input {
        text-align: right;
    }

    .burdened.sheet.actor .traits i.fas {
        float: right;
        margin-right: 3px;
        text-align: right;
        color: #999;
    }

        .burdened.sheet.actor .traits i.fas:hover {
            color: #111;
            text-shadow: 0 0 10px red;
        }

    .burdened.sheet.actor .traits .inactive {
        color: #7a7971;
    }

    .burdened.sheet.actor .tab.features,
    .burdened.sheet.actor .tab.inventory,
    .burdened.sheet.actor .tab.spellbook {
        overflow-y: hidden;
    }

    .burdened.sheet.actor .inventory-filters {
        margin: 0 8px;
        flex: 0 0 20px;
        justify-content: flex-end;
    }

        .burdened.sheet.actor .inventory-filters .currency {
            flex: 0 0 100%;
            list-style: none;
            margin: 4px 0 8px;
            padding: 0;
            font-size: 12px;
        }

            .burdened.sheet.actor .inventory-filters .currency label {
                flex: 0;
                margin-left: 8px;
                text-align: right;
                line-height: 20px;
                color: #7a7971;
            }

            .burdened.sheet.actor .inventory-filters .currency input[type="text"] {
                flex: 0 0 48px;
                text-align: center;
                margin-left: 8px;
                border-bottom: 2px groove #eeede0;
            }

    .burdened.sheet.actor .inventory-list {
        list-style: none;
        margin: 0;
        padding: 0 5px;
        overflow-y: auto;
        scrollbar-width: thin;
    }

        .burdened.sheet.actor .inventory-list .item {
            line-height: 30px;
            padding: 0 2px;
            border-bottom: 1px solid #c9c7b8;
        }

            .burdened.sheet.actor .inventory-list .item:last-child {
                border-bottom: none;
            }

            .burdened.sheet.actor .inventory-list .item .item-name {
                cursor: pointer;
                max-height: 30px;
                overflow: hidden;
            }

                .burdened.sheet.actor .inventory-list .item .item-name .item-image {
                    flex: 0 0 30px;
                    background-size: 30px;
                    margin-right: 5px;
                }

                .burdened.sheet.actor .inventory-list .item .item-name h4 {
                    margin: 0;
                    white-space: nowrap;
                    overflow-x: hidden;
                }

                .burdened.sheet.actor .inventory-list .item .item-name.rollable:hover .item-image {
                    background-image: url("/icons/svg/d20-grey.svg") !important;
                }

                .burdened.sheet.actor .inventory-list .item .item-name.rollable .item-image:hover {
                    background-image: url("/icons/svg/d20-black.svg") !important;
                }

                .burdened.sheet.actor .inventory-list .item .item-name i.attuned {
                    color: #7a7971;
                }

            .burdened.sheet.actor .inventory-list .item .item-quality input {
                width: 24px;
                text-align: center;
            }

            .burdened.sheet.actor .inventory-list .item .item-properties {
                margin-top: 3px;
            }

            .burdened.sheet.actor .inventory-list .item .item-recharge {
                flex: 0 0 80px;
                text-align: right;
                font-size: 11px;
                color: #7a7971;
                white-space: nowrap;
            }

        .burdened.sheet.actor .inventory-list .inventory-header {
            margin: 2px 0;
            padding: 0;
            background: rgba(0, 0, 0, 0.05);
            border: 2px groove #eeede0;
            font-weight: bold;
            line-height: 24px;
        }

            .burdened.sheet.actor .inventory-list .inventory-header h3 {
                margin: 0 -5px 0 0;
                padding-left: 5px;
                font-family: "Modesto Condensed", "Palatino Linotype", serif;
                font-size: 20px;
                font-weight: 700;
                font-size: 16px;
            }

            .burdened.sheet.actor .inventory-list .inventory-header .item-controls a.item-create {
                flex: 0 0 100%;
            }

        .burdened.sheet.actor .inventory-list .item-detail {
            flex: 0 0 70px;
            font-size: 12px;
            color: #7a7971;
            text-align: center;
            border-right: 1px solid #c9c7b8;
            word-break: break-word;
            white-space: nowrap;
            overflow: hidden;
        }

            .burdened.sheet.actor .inventory-list .item-detail:last-child {
                border-right: none;
            }

            .burdened.sheet.actor .inventory-list .item-detail.item-action {
                flex: 0 0 100px;
            }

        .burdened.sheet.actor .inventory-list .item-quality {
            flex: 0 0 60px;
            border-left: 1px solid #c9c7b8;
            border-right: 1px solid #c9c7b8;
        }

        .burdened.sheet.actor .inventory-list .item-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .burdened.sheet.actor .inventory-list .item-controls {
            flex: 0 0 44px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            justify-content: flex-end;
        }

            .burdened.sheet.actor .inventory-list .item-controls > * {
                flex: 1;
            }

            .burdened.sheet.actor .inventory-list .item-controls .flex1 {
                flex: 1;
            }

            .burdened.sheet.actor .inventory-list .item-controls .flex2 {
                flex: 2;
            }

            .burdened.sheet.actor .inventory-list .item-controls .flex3 {
                flex: 3;
            }

            .burdened.sheet.actor .inventory-list .item-controls .flex4 {
                flex: 4;
            }

            .burdened.sheet.actor .inventory-list .item-controls a {
                flex: 0 0 22px;
                font-size: 12px;
                text-align: center;
                color: #7a7971;
            }

        .burdened.sheet.actor .inventory-list .item-summary {
            flex: 0 0 100%;
            font-size: 12px;
            line-height: 16px;
            padding: 0.25em 0.5em;
            border-top: 1px solid #c9c7b8;
        }

    .burdened.sheet.actor .encumbrance {
        flex: 0 0 12px;
        background: #7a7971;
        margin: 1px 15px 0 1px;
        border: 1px solid #191813;
        border-radius: 3px;
        position: relative;
    }

        .burdened.sheet.actor .encumbrance .encumbrance-bar {
            position: absolute;
            top: 1px;
            left: 1px;
            background: #6c8aa5;
            height: 8px;
            border: 1px solid #cde4ff;
            border-radius: 2px;
        }

        .burdened.sheet.actor .encumbrance .encumbrance-label {
            height: 10px;
            padding: 0 5px;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 13px;
            line-height: 12px;
            text-align: right;
            color: #EEE;
            text-shadow: 0 0 5px #000;
        }

        .burdened.sheet.actor .encumbrance .encumbrance-breakpoint {
            display: block;
            position: absolute;
        }

            .burdened.sheet.actor .encumbrance .encumbrance-breakpoint.encumbrance-33 {
                left: 33%;
            }

            .burdened.sheet.actor .encumbrance .encumbrance-breakpoint.encumbrance-66 {
                left: 66%;
            }

        .burdened.sheet.actor .encumbrance .arrow-up {
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid #666;
        }

        .burdened.sheet.actor .encumbrance .arrow-down {
            top: 0;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #666;
        }

        .burdened.sheet.actor .encumbrance.encumbered .arrow-up {
            border-bottom: 4px solid #000;
        }

        .burdened.sheet.actor .encumbrance.encumbered .arrow-down {
            border-top: 4px solid #000;
        }

    .burdened.sheet.actor .spellcasting-ability {
        flex: 0 0 240px;
        margin: 0;
    }

        .burdened.sheet.actor .spellcasting-ability input,
        .burdened.sheet.actor .spellcasting-ability span {
            flex: 0 0 32px;
            text-align: center;
        }

        .burdened.sheet.actor .spellcasting-ability select {
            margin: 0 5px;
            flex: 0 0 150px;
        }

        .burdened.sheet.actor .spellcasting-ability h3.spell-dc {
            flex: 1;
            text-align: right;
        }

    .burdened.sheet.actor .spell-slots,
    .burdened.sheet.actor .spell-comps {
        flex: 0 0 75px;
        padding-right: 5px;
        text-align: right;
        font-size: 12px;
        color: #7a7971;
        border-right: 1px solid #c9c7b8;
    }

        .burdened.sheet.actor .spell-slots input {
            display: inline;
            max-width: 20px;
        }

        .burdened.sheet.actor .spell-slots .sep {
            font-size: 13px;
            font-weight: normal;
        }

    .burdened.sheet.actor .spell-uses {
        padding-right: 8px;
        text-align: right !important;
    }

    .burdened.sheet.actor .spell-school,
    .burdened.sheet.actor .spell-action,
    .burdened.sheet.actor .spell-target {
        flex: 0 0 100px;
        font-size: 12px;
        color: #7a7971;
        text-align: center;
        border-right: 1px solid #c9c7b8;
    }

    .burdened.sheet.actor .spell-component {
        line-height: 14px;
    }

        .burdened.sheet.actor .spell-component.C,
        .burdened.sheet.actor .spell-component.R {
            display: inline-block;
            text-align: center;
            padding-top: 1px;
            width: 16px;
            color: #c9c7b8;
            background: rgba(0, 0, 0, 0.4);
            border: 1px solid transparent;
            border-radius: 8px;
        }

    .burdened.sheet.actor .spellbook-empty .item-controls {
        flex: 1;
    }

    .burdened.sheet.actor .editor {
        padding: 0 8px;
    }

.burdened.sheet.item {
    min-height: 420px;
    /* ----------------------------------------- */
    /*  Sheet Header                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Item Details Form                        */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Item Actions                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Item Actions                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Loot Sheet (No Tabs)                     */
    /* ----------------------------------------- */
}

    .burdened.sheet.item .sheet-header img.profile {
        border: 2px solid #000;
    }

    .burdened.sheet.item .sheet-header .item-subtitle {
        flex: 0 0 80px;
        height: 60px;
        margin: 0;
        padding: 5px;
        text-align: right;
        color: #7a7971;
    }

        .burdened.sheet.item .sheet-header .item-subtitle .item-type {
            font-size: 24px;
            line-height: 26px;
            margin: 0;
        }

        .burdened.sheet.item .sheet-header .item-subtitle .item-status {
            font-size: 16px;
            line-height: 24px;
        }

    .burdened.sheet.item .sheet-navigation {
        margin-bottom: 5px;
    }

        .burdened.sheet.item .sheet-navigation .item {
            font-size: 18px;
        }

    .burdened.sheet.item .sheet-body {
        overflow: hidden;
    }

        .burdened.sheet.item .sheet-body .tab {
            padding: 0 5px;
            overflow: hidden auto;
        }

        .burdened.sheet.item .sheet-body .item-properties {
            flex: 0 0 120px;
            margin: 5px 5px 5px 0;
            padding-right: 5px;
            border-right: 2px groove #eeede0;
        }

            .burdened.sheet.item .sheet-body .item-properties .form-group {
                margin: 0;
            }

                .burdened.sheet.item .sheet-body .item-properties .form-group label {
                    line-height: 20px;
                }

                .burdened.sheet.item .sheet-body .item-properties .form-group input {
                    text-align: right;
                }

            .burdened.sheet.item .sheet-body .item-properties .properties-list {
                list-style: none;
                margin: 0;
                padding: 0;
            }

                .burdened.sheet.item .sheet-body .item-properties .properties-list li {
                    margin: 3px 0;
                    padding: 0 2px;
                    background: rgba(0, 0, 0, 0.05);
                    border: 2px groove #eeede0;
                    text-align: center;
                    font-size: 12px;
                    line-height: 18px;
                }

    .burdened.sheet.item .details input[type="text"],
    .burdened.sheet.item .details select {
        height: 24px;
        border: 1px solid #7a7971;
        background: rgba(0, 0, 0, 0.05);
    }

    .burdened.sheet.item .details .form-group span {
        text-align: center;
        line-height: 24px;
    }

    .burdened.sheet.item .details .form-group.input-select select {
        flex: 1.8;
    }

    .burdened.sheet.item .details .form-group.input-select-select select {
        flex: 1.5;
    }

    .burdened.sheet.item .details .form-group.uses-per input {
        flex: 1;
    }

    .burdened.sheet.item .details .form-group.uses-per span {
        flex: 0 0 16px;
    }

    .burdened.sheet.item .details .form-group.uses-per select {
        flex: 3;
    }

    .burdened.sheet.item .details span.sep {
        flex: 0 0 8px;
    }

    .burdened.sheet.item .details .prepared {
        flex: 1.3 !important;
        text-align: right;
        padding-right: 10px;
    }

    .burdened.sheet.item .details .spell-materials {
        flex: 0 0 100%;
        margin: 0.25em 0;
        justify-content: flex-end;
    }

        .burdened.sheet.item .details .spell-materials label {
            flex: 0 0 64px;
            text-align: right;
            margin-right: 5px;
            font-size: 12px;
            line-height: 24px;
        }

        .burdened.sheet.item .details .spell-materials input[type="text"] {
            flex: 0 0 48px;
            margin-right: 10px;
        }

    .burdened.sheet.item h4.damage-header {
        margin: 0;
        padding: 0;
        font-weight: bold;
        line-height: 24px;
        color: #4b4a44;
    }

    .burdened.sheet.item .damage-parts {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .burdened.sheet.item .damage-parts .damage-part {
            flex: 0 0 100%;
            padding: 0;
        }

            .burdened.sheet.item .damage-parts .damage-part input {
                flex: 3;
            }

            .burdened.sheet.item .damage-parts .damage-part select {
                margin-left: 5px;
                flex: 1;
            }

    .burdened.sheet.item .damage-control {
        width: 18px;
        flex: 0 0 18px;
        line-height: 24px;
        float: right;
        text-align: right;
        color: #7a7971;
    }

    .burdened.sheet.item .recharge.form-group span {
        text-align: right;
        padding-right: 3px;
    }

    .burdened.sheet.item .recharge.form-group input[type="text"] {
        flex: 0 0 32px;
        text-align: center;
    }

    .burdened.sheet.item .recharge.form-group label.checkbox {
        flex: none;
    }

        .burdened.sheet.item .recharge.form-group label.checkbox input {
            width: 16px;
            height: 16px;
            top: 4px;
        }

    .burdened.sheet.item .weapon-properties label.checkbox {
        flex: 0 0 98px;
    }

    .burdened.sheet.item .loot-header {
        margin-bottom: 10px;
    }
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.burdened.chat-card {
    font-style: normal;
    font-size: 12px;
}

    .burdened.chat-card .card-header {
        padding: 3px 0;
        border-top: 2px groove #FFF;
        border-bottom: 2px groove #FFF;
    }

        .burdened.chat-card .card-header img {
            flex: 0 0 36px;
            margin-right: 5px;
        }

        .burdened.chat-card .card-header h3 {
            flex: 1;
            margin: 0;
            line-height: 36px;
            font-family: "Modesto Condensed", "Palatino Linotype", serif;
            font-size: 20px;
            font-weight: 700;
            color: #4b4a44;
        }

            .burdened.chat-card .card-header h3:hover {
                color: #111;
                text-shadow: 0 0 10px red;
            }

    .burdened.chat-card .card-content {
        margin: 5px 0;
    }

        .burdened.chat-card .card-content h3 {
            font-size: 12px;
            margin: 0;
            font-weight: bold;
        }

        .burdened.chat-card .card-content > * {
            -webkit-user-select: text;
            -moz-user-select: text;
            -ms-user-select: text;
            user-select: text;
        }

    .burdened.chat-card .card-buttons {
        margin: 5px 0;
    }

        .burdened.chat-card .card-buttons span {
            display: block;
            line-height: 28px;
            text-align: center;
            border: 1px solid #CCC;
        }

        .burdened.chat-card .card-buttons button {
            font-size: 12px;
            height: 24px;
            line-height: 20px;
            margin: 2px 0;
        }

    .burdened.chat-card .card-footer {
        padding: 3px 0 0;
        border-top: 2px groove #FFF;
    }

        .burdened.chat-card .card-footer span {
            border-right: 2px groove #FFF;
            padding: 0 5px 0 0;
            font-size: 10px;
        }

            .burdened.chat-card .card-footer span:last-child {
                border-right: none;
                padding-right: 0;
            }

.dice-roll .dice-total.success {
    color: inherit;
    background: #c7d0c0;
    border: 1px solid #006c00;
}

.dice-roll .dice-total.failure {
    color: inherit;
    background: #ffdddd;
    border: 1px solid #6e0000;
}

.dice-roll .dice-total.critical {
    color: green;
}

.dice-roll .dice-total.fumble {
    color: red;
}
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.burdened.sheet.actor.character {
    min-width: 720px;
    min-height: 680px;
    /* ----------------------------------------- */
    /*  Sheet Header                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Sheet Body                               */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Item Controls                            */
    /* ----------------------------------------- */
}

    .burdened.sheet.actor.character .sheet-header img.profile {
        flex: 0 0 160px;
        max-width: 160px;
        height: 160px;
    }

    .burdened.sheet.actor.character .sheet-header .charlevel {
        flex: 0 0 20px;
        height: 20px;
        font-size: 18px;
        color: #7a7971;
        white-space: nowrap;
    }

    .burdened.sheet.actor.character .sheet-header .experience {
        flex: 0 0 32px;
        margin-bottom: -5px;
        align-items: center;
        font-size: 18px;
    }

        .burdened.sheet.actor.character .sheet-header .experience span.max {
            color: #7a7971;
            flex: none;
            margin-left: 3px;
        }

    .burdened.sheet.actor.character .sheet-header .xpbar {
        flex: 0 0 8px;
        width: 100%;
        margin-bottom: 5px;
        background: #7a7971;
        border: 1px solid #000;
        border-radius: 3px;
    }

        .burdened.sheet.actor.character .sheet-header .xpbar .bar {
            height: 4px;
            margin: 1px;
            display: block;
            background: #afebff;
            border: 1px solid #000;
            border-radius: 2px;
        }

    .burdened.sheet.actor.character .sheet-header .attributes a.rest {
        border: 1px solid #b5b3a4;
        border-radius: 2px;
        background: rgba(0, 0, 0, 0.05);
        padding: 0 3px;
        margin: 0 3px;
    }

    .burdened.sheet.actor.character .sheet-header .attributes .hit-dice {
        font-size: 24px;
    }

    .burdened.sheet.actor.character .sheet-header .attributes .initiative .attribute-footer input {
        width: 32px;
    }

    .burdened.sheet.actor.character .sheet-header .summary .proficiency {
        text-align: right;
        padding-right: 5px;
    }

    .burdened.sheet.actor.character .resource .attribute-value input {
        flex: 0 0 25%;
    }

    .burdened.sheet.actor.character .resource .attribute-value label.recharge {
        height: 32px;
        position: relative;
        font-family: "Signika", sans-serif;
        font-size: 11px;
        text-align: center;
        color: #4b4a44;
    }

        .burdened.sheet.actor.character .resource .attribute-value label.recharge input[type="checkbox"] {
            height: 14px;
            width: 14px;
            margin: 0;
            top: -6px;
        }

    .burdened.sheet.actor.character ul.skills-list {
        flex: 0 0 212px;
    }

        .burdened.sheet.actor.character ul.skills-list li.skill {
            padding: 3px;
        }

            .burdened.sheet.actor.character ul.skills-list li.skill h4 {
                flex: 1px;
                margin: 0;
                font-size: 13px;
            }

    .burdened.sheet.actor.character .item-detail.player-class {
        flex: 0 0 180px;
        text-align: right;
        padding-right: 10px;
    }

    .burdened.sheet.actor.character .inventory .item-controls,
    .burdened.sheet.actor.character .spellbook .item-controls {
        flex: 0 0 68px;
    }

        .burdened.sheet.actor.character .inventory .item-controls .item-toggle,
        .burdened.sheet.actor.character .spellbook .item-controls .item-toggle {
            color: #b5b3a4;
        }

            .burdened.sheet.actor.character .inventory .item-controls .item-toggle.active,
            .burdened.sheet.actor.character .spellbook .item-controls .item-toggle.active {
                color: #4b4a44;
            }

            .burdened.sheet.actor.character .inventory .item-controls .item-toggle.fixed,
            .burdened.sheet.actor.character .spellbook .item-controls .item-toggle.fixed {
                color: #44191A;
            }

                .burdened.sheet.actor.character .inventory .item-controls .item-toggle.fixed:hover,
                .burdened.sheet.actor.character .spellbook .item-controls .item-toggle.fixed:hover {
                    text-shadow: none;
                }
/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.burdened.sheet.actor.npc {
    min-width: 600px;
    min-height: 680px;
}

    .burdened.sheet.actor.npc .header-exp {
        flex: 0 0 80px;
        justify-content: center;
    }

        .burdened.sheet.actor.npc .header-exp .cr {
            flex: 0 0 32px;
            line-height: 28px;
            margin-bottom: -5px;
            font-size: 24px;
        }

            .burdened.sheet.actor.npc .header-exp .cr input {
                width: 32px;
                padding: 0;
                text-align: center;
            }

        .burdened.sheet.actor.npc .header-exp .experience {
            flex: 0 0 18px;
            color: #7a7971;
            font-size: 16px;
        }

    .burdened.sheet.actor.npc .summary {
        font-size: 18px;
    }

    .burdened.sheet.actor.npc .spellcasting-ability label {
        flex: none;
    }

.burdened.sheet.actor.vehicle .features .item-controls {
    flex: 0 0 68px;
}

    .burdened.sheet.actor.vehicle .features .item-controls .item-toggle {
        color: #b5b3a4;
    }

        .burdened.sheet.actor.vehicle .features .item-controls .item-toggle.active {
            color: #4b4a44;
        }

.burdened.sheet.actor.vehicle .counters .counter.creature-cap .counter-value {
    flex: 1;
}

.burdened.sheet.actor.vehicle .counters .counter.creature-cap input {
    max-width: none;
    text-align: right;
}

.burdened.sheet.actor.vehicle .counters .counter.cargo-cap input {
    max-width: 40px;
    text-align: right;
}
