<div class="inventory-filters flexrow">
  <ol class="currency flexrow">
    <h3>
      {{localize "BURDENED.Currency"}}
      <a class="currency-convert" title="Convert Currency"><i class="fas fa-coins"></i></a>
    </h3>
    {{#each data.currency as |v k|}}
    <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
    <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number" />
    {{/each}}
  </ol>
</div>
<ol class="inventory-list">
  {{#each sections as |section sid|}}
  <li class="inventory-header flexrow">
    <h3 class="item-name flexrow">{{localize section.label}}</h3>
    <div class="item-detail item-weight"> {{localize "BURDENED.Quality"}}</div>
    <div class="item-detail item-uses">{{localize "BURDENED.Slots"}}</div>
    <!--<div class="item-detail item-action">{{localize "BURDENED.Usage"}}</div>-->
    {{#if ../owner}}
    <div class="item-controls">
      <a class="item-control item-create" title='{{localize "BURDENED.ItemCreate"}}'
         {{#each section.dataset as |v k|}} data-{{k}}="{{v}}" {{/each}}>
        <i class="fas fa-plus"></i> {{localize "BURDENED.Add"}}
      </a>
    </div>
    {{/if}}
  </li>

  <ol class="item-list">
    {{#each section.items as |item iid|}}
    <li class="item flexrow {{section.css}}" data-item-id="{{item._id}}">
      <div class="item-name flexrow rollable">
        <div class="item-image" style="background-image: url({{item.img}})"></div>
        <h4>
          {{item.name~}}
          {{~#if item.isStack}} ({{item.data.quantity}}){{/if}}
          {{~#if item.damageDice}} ({{item.data.damageDice}}){{/if}}
        </h4>
      </div>

      <div class="item-detail item-quality">
        {{#if item.data.quality}}
        <div class="item-detail">
          <input type="text" value="{{item.data.quality.value}}" placeholder="0" />
          / {{item.data.quality.max}}
        </div>
        {{/if}}
      </div>
      <div class="item-detail item-uses">
        {{#if item.data.slots}}
        <div class="item-detail">
          {{item.data.slots}}
        </div>
        {{/if}}
      </div>

      <!--<div class="item-detail item-action">
        {{#if item.data.activation.type }}
        {{item.labels.activation}}
        {{/if}}
      </div>-->
      {{#if ../../owner}}
      <div class="item-controls">
        <a class="item-control item-toggle {{item.toggleClass}}" title='{{item.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
        <a class="item-control item-edit" title='{{localize "BURDENED.ItemEdit"}}'><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title='{{localize "BURDENED.ItemDelete"}}'><i class="fas fa-trash"></i></a>
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>
  {{/each}}
</ol>

{{#with data.inventorySlots}}
<div class="encumbrance">
  <span class="encumbrance-bar" style="width:{{percent}}%"></span>
  <span class="encumbrance-label">{{value}} / {{max}}</span>
</div>
{{/with}}