<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    <section class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" />
      </h1>

      <aside class="header-exp flexcol">
        <div class="charlevel">
          <label>{{ localize "BURDENED.Level" }} {{data.details.level}}</label>
        </div>

        {{#if data.canLevelUp }}
        {{#if (isdefinedAndTrue data.levelingUp) }}
        <label class="level">{{ localize "BURDENED.ApplyLevel" }}</label>
        {{else}}
        <a class="level-up">{{ localize "BURDENED.LevelUp" }}</a>
        {{/if}}
        {{else}}
        <div class="experience flexrow">
          <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" data-dtype="Number" placeholder="0" />
          <span class="sep">/</span>
          <span class="max">{{data.details.xp.max}}</span>
        </div>
        <div class="xpbar">
          <span class="bar" style="width: {{data.details.xp.percent}}%"></span>
        </div>
        {{/if}}
      </aside>
      {{!-- Character Summary --}}
      <ul class="summary flexrow">
        <li>
          <input type="text" name="data.details.background" value="{{data.details.background}}" placeholder="{{ localize 'BURDENED.Background' }}" />
        </li>
        <li>
          <input type="text" name="data.traits.alignment" value="{{data.traits.alignment}}" placeholder="{{ localize 'BURDENED.Alignment' }}" />
        </li>
      </ul>
      {{!-- Header Attributes --}}
      <ul class="attributes flexrow">
        <li class="attribute health">
          <h4 class="attribute-name box-title">{{ localize "BURDENED.HitPoints" }}</h4>
          <div class="attribute-value multiple">
            <input name="data.attributes.health.final" type="text" value="{{data.attributes.health.final}}" data-dtype="Number" placeholder="10" />
            <span class="sep"> / </span>
            {{#if (canImproveHealth)}}
            <a class="roll-health">{{data.attributes.health.max}}</a>
            {{else}}
            <label class="health" name="data.attributes.health.max">{{data.attributes.health.max}}</label>
            {{/if}}
          </div>
        </li>

        <li class="attribute HitDice">
          <h4 class="attribute-name box-title">{{ localize "BURDENED.HitDice" }}</h4>
          <div class="attribute-value multiple">
            <label class="hit-dice">{{data.attributes.healingRate.final}}</label>
          </div>
        </li>

        <li class="attribute ArmourClass">
          <h4 class="attribute-name box-title">{{ localize "BURDENED.Defence" }}</h4>
          <div class="attribute-value">
            <span class="speed">{{data.attributes.armour.final}}</span>
          </div>
          <footer class="attribute-footer">
            <span class="spell-dc">{{localize "BURDENED.Bonus"}}: {{data.attributes.armour.bonus}}</span>
          </footer>
        </li>

        <li class="attribute Speed">
          <h4 class="attribute-name box-title">{{ localize "BURDENED.Speed" }}</h4>
          <div class="attribute-value">
            <span class="speed">{{data.attributes.speed.final}} ft</span>
          </div>
        </li>
      </ul>
    </section>
  </header>

  {{!-- character Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="inventory">{{ localize "BURDENED.Inventory" }}</a>
    <a class="item" data-tab="biography">{{ localize "BURDENED.Biography" }}</a>
  </nav>

  {{!-- character Sheet Body --}}
  <section class="sheet-body">

    <div class="tab attributes flexrow" data-group="primary" data-tab="inventory">
      {{!-- Ability Scores --}}
      <ul class="ability-scores flexrow">
        {{#each data.abilities as |ability key|}}
        <li class="ability" data-ability="{{key}}">
          <h4 class="ability-name box-title rollable">{{localize ability.label}}</h4>

          {{#if (canImproveAbility key) }}
          <a class="ability-score" name="{{key}}">{{ ability.final }}</a>
          {{else}}
          <label class="ability-score">{{ability.final}}</label>
          {{/if}}

          <div class="ability-modifiers flexrow">
            <span class="ability-mod" title="Bonus">{{numberFormat ability.bonus decimals=0 sign=true}}</span>
          </div>
        </li>
        {{/each}}
      </ul>
      <section class="center-pane flexcol">
        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
          {{> "systems/burdened/templates/actor/parts/actor-inventory.html" sections=inventory}}
        </div>
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography flexcol" data-group="primary" data-tab="biography">
      {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
    </div>

  </section>
</form>