<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
    <section class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" />
      </h1>
      {{!-- Character Summary --}}
      <ul class="summary flexrow">
        <li>
          <input type="text" name="data.details.background" value="{{data.details.background}}" placeholder="{{ localize 'BURDENED.Background' }}" />
        </li>
        <li>
          <input type="text" name="data.traits.alignment" value="{{data.traits.alignment}}" placeholder="{{ localize 'BURDENED.Alignment' }}" />
        </li>
      </ul>
      {{!-- Header Attributes --}}
      <ul class="attributes flexrow">
        <li class="attribute health">
          <h4 class="attribute-name box-title">{{ localize "BURDENED.HitPoints" }}</h4>
          <div class="attribute-value multiple">
            <input name="data.attributes.health.final" type="text" value="{{data.attributes.health.final}}" data-dtype="Number" placeholder="10" />
            <span class="sep"> / </span>
            <input name="data.attributes.health.max" type="text" value="{{data.attributes.health.max}}" data-dtype="Number" placeholder="10" />
          </div>
        </li>

        <li class="attribute HitDice">
          <h4 class="attribute-name box-title">{{ localize "BURDENED.HitDice" }}</h4>
          <div class="attribute-value multiple">
            <label class="hit-dice">{{data.attributes.healingRate.final}}</label>
          </div>
        </li>

        <li class="attribute ArmourClass">
          <h4 class="attribute-name box-title">{{ localize "BURDENED.Defence" }}</h4>
          <div class="attribute-value">
            <input name="data.attributes.armour.final" type="text" value="{{data.attributes.armour.final}}" data-dtype="Number" placeholder="10" />
          </div>
          <footer class="attribute-footer">
            <span class="spell-dc">{{localize "BURDENED.Bonus"}}: {{data.attributes.armour.bonus}}</span>
          </footer>
        </li>

        <li class="attribute Speed">
          <h4 class="attribute-name box-title">{{ localize "BURDENED.Speed" }}</h4>
          <div class="attribute-value">
            <input name="data.attributes.speed.final" type="text" value="{{data.attributes.speed.final}}" data-dtype="Number" placeholder="40" />
          </div>
        </li>
      </ul>
    </section>
  </header>

  {{!-- character Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="inventory">{{ localize "BURDENED.Inventory" }}</a>
    <a class="item" data-tab="biography">{{ localize "BURDENED.Biography" }}</a>
  </nav>

  {{!-- character Sheet Body --}}
  <section class="sheet-body">

    <div class="tab attributes flexrow" data-group="primary" data-tab="inventory">
      {{!-- Ability Scores --}}
      <ul class="ability-scores flexrow">
        {{#each data.abilities as |ability key|}}
        <li class="ability" data-ability="{{key}}">
          <h4 class="ability-name box-title rollable">{{localize ability.label}}</h4>

          <div class="attribute-value multiple">
            <input name="data.abilities.{{key}}.value" type="text" value="{{ ability.final }}" data-dtype="Number" placeholder="10" />
          </div>

          <div class="ability-modifiers flexrow">
            <span class="ability-mod" title="Bonus">{{numberFormat ability.bonus decimals=0 sign=true}}</span>
          </div>
        </li>
        {{/each}}
      </ul>
      <section class="center-pane flexcol">
        {{!-- Inventory Tab --}}
        <div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
          {{> "systems/burdened/templates/actor/parts/actor-inventory.html" sections=inventory}}
        </div>
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography flexcol" data-group="primary" data-tab="biography">
      {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
    </div>

  </section>
</form>