<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

<div class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'BURDENED.ItemName' }}" />
  </h1>
  <div class="item-subtitle">
    <h4 class="item-type">{{itemType}}</h4>
    <span class="item-status">{{itemStatus}}</span>
  </div>
  <ul class="summary flexrow">
    <li>
      {{ lookup config.armourTypes data.armourType }}
    </li>
    <li>
      {{#if isGM}}
      <select name="data.rarity">
        {{#select data.rarity}}
        <option value=""></option>
        {{#each config.rarity as |name rarity|}}
        <option value="{{rarity}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
      {{else}}
      {{ lookup config.rarity data.rarity }}
      {{/if}}
    </li>
  </ul>
</div>