{{!-- Action Type --}}
<div class="form-group select">
  <label>{{ localize "BURDENED.ItemActionType" }}</label>
  <select name="data.actionType">
    {{#select data.actionType}}
    <option value=""></option>
    {{#each config.itemActionTypes as |name type|}}
    <option value="{{type}}">{{name}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>
{{#if data.actionType}}
{{!-- Attack Roll Bonus --}}
{{#if hasAttackRoll }}
<div class="form-group">
  <label>{{ localize "BURDENED.ItemAttackBonus" }}</label>
  <div class="form-fields">
    <input type="text" name="data.attackBonus" value="{{data.attackBonus}}" data-dtype="Number" />
  </div>
</div>
{{/if}}
{{!-- Damage Formula --}}
<h4 class="damage-header">
  {{#unless isHealing }}{{ localize "BURDENED.Damage" }}{{ else }}{{ localize "BURDENED.Healing" }}{{/unless}} {{ localize "BURDENED.Formula" }}
  <a class="damage-control add-damage"><i class="fas fa-plus"></i></a>
</h4>
<ol class="damage-parts form-group">
  {{#each data.damage.parts as |part i| }}
  <li class="damage-part flexrow" data-damage-part="{{i}}">
    <input type="text" name="data.damage.parts.{{i}}.0" value="{{lookup this "0"}}" />
    <select name="data.damage.parts.{{i}}.1">
      {{#select (lookup this "1") }}
      <option value="">{{ localize "BURDENED.None" }}</option>
      {{#each ../config.damageTypes as |name type|}}
      <option value="{{type}}">{{name}}</option>
      {{/each}}
      {{/select}}
    </select>
    <a class="damage-control delete-damage"><i class="fas fa-minus"></i></a>
  </li>
  {{/each}}
</ol>
{{/if}}