<div class="tab flexrow active" data-group="primary" data-tab="description">
  <div class="item-properties">
    {{#if isPhysical}}
    <div class="form-group">
      <label>{{ localize "BURDENED.Quality" }}</label>
      {{#if isGM}}
      <input type="text" name="data.quality.value" value="{{data.quality.value}}" data-dtype="Number" />
      /
      <input type="text" name="data.quality.max" value="{{data.quality.max}}" data-dtype="Number" />
      {{else}}
      <label>{{data.quality.value}} / {{data.quality.max}}</label>
      {{/if}}
    </div>
    <div class="form-group">
      <label>{{ localize "BURDENED.Slots" }}</label>
      {{#if isGM}}
      <input type="text" name="data.slots" value="{{data.slots}}" data-dtype="Number" />
      {{else}}
      <label>{{data.slots}}</label>
      {{/if}}
    </div>
    <div class="form-group">
      <label>{{ localize "BURDENED.Coppers" }}</label>
      {{#if isGM}}
      <input type="text" name="data.coppers" value="{{data.coppers}}" data-dtype="Number" />
      {{else}}
      <label>{{data.coppers}}</label>
      {{/if}}
    </div>
    {{/if}}
    <ol class="properties-list">
      {{#each itemProperties}}
      <li>{{this}}</li>
      {{/each}}
    </ol>
  </div>
  {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
</div>