<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    {{> "systems/burdened/templates/item/parts/item-header.html"}}
  </header>

  {{#if isGM}}
  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "BURDENED.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "BURDENED.Details" }}</a>
  </nav>
  {{/if}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    {{> "systems/burdened/templates/item/parts/item-description.html"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{ localize "BURDENED.ItemArmourDetails" }}</h3>
      {{!-- Armour Type --}}
      <div class="form-group">
        <label>{{ localize "BURDENED.ItemArmourType" }}</label>
        <select name="data.armourType">
          {{#select data.armourType}}
          <option value=""></option>
          {{#each config.armourTypes as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Armour Status --}}
      <div class="form-group stacked">
        <label>{{ localize "BURDENED.ItemArmourStatus" }}</label>
        <div class="form-fields">
          <label class="checkbox">
            <input type="checkbox" name="data.equipped" {{checked data.equipped}} /> {{ localize "BURDENED.Equipped" }}
          </label>
        </div>
      </div>

      {{!-- Armor Class --}}
      <div class="form-group">
        <label>{{ localize "BURDENED.Defence" }}</label>
        <div class="form-fields">
          <input type="text" name="data.defence" value="{{data.defence}}" />
        </div>
      </div>

    </div>
  </section>
</form>
