<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="sheet-header loot-header flexrow">
    {{> "systems/burdened/templates/item/parts/item-header.html"}}
  </header>
  {{!-- Item Sheet Body --}}
  <section class="sheet-body">
    {{> "systems/burdened/templates/item/parts/item-description.html"}}
  </section>
</form>
