<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="sheet-header flexrow">
    {{> "systems/burdened/templates/item/parts/item-header.html"}}
  </header>

  {{#if isGM}}
  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "BURDENED.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "BURDENED.Details" }}</a>
  </nav>
  {{/if}}

  {{!-- Item Sheet Body --}}
  <section class="sheet-body">
    {{!-- Description Tab --}}
    {{> "systems/burdened/templates/item/parts/item-description.html"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{ localize "BURDENED.ItemWeaponDetails" }}</h3>
      {{!-- Weapon Type --}}
      <div class="form-group">
        <label>{{ localize "BURDENED.ItemWeaponType" }}</label>
        <select name="data.weaponType">
          {{#select data.weaponType}}
          {{#each config.weaponTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{!-- Weapon Status --}}
      <div class="form-group stacked">
        <label>{{ localize "BURDENED.ItemWeaponStatus" }}</label>
        <div class="form-fields">
          <label class="checkbox">
            <input type="checkbox" name="data.equipped" {{checked data.equipped}} /> {{ localize "BURDENED.Equipped" }}
          </label>
        </div>
      </div>
      {{!-- Weapon Properties --}}
      <div class="form-group stacked weapon-properties">
        <label>{{ localize "BURDENED.ItemWeaponProperties" }}</label>
        {{#each config.weaponProperties as |name prop|}}
        <label class="checkbox">
          <input type="checkbox" name="data.properties.{{prop}}" {{checked (lookup ../data.properties prop)}} /> {{ name }}
        </label>
        {{/each}}
      </div>

      <h3 class="form-header">{{ localize "BURDENED.ItemWeaponAttack" }}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/burdened/templates/item/parts/item-action.html"}}

    </div>
  </section>
</form>
